
<!doctype html>
<html>
<head>
<title>Ravishing Contact Form Flat Responsive widget Template :: w3layouts</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Ravishing Contact Form Responsive, Login form web template,Flat Pricing tables,Flat Drop downs  Sign up Web Templates, Flat Web Templates, Login signup Responsive web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- fonts -->
<link href="//fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900" rel="stylesheet">
<link href="//fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700" rel="stylesheet">
<!-- /fonts -->
<!-- css -->
     <link href="/static/css/bootstrap.css" rel="stylesheet" type="text/css" />
<link href="/static/css/font-awesome.min.css" rel="stylesheet" type="text/css" media="all" />
<link href="/static/css/style.css" rel="stylesheet" type='text/css' media="all" />
<!-- /css -->
	<script type="text/javascript" src="/static/js/jquery.js"></script>


</head>
<body>

<h1 class="w3layouts">Qr-code</h1>
<div class="content-w3ls">
	<div class="content1-agile">
		<div class="info-w3l">
			<h2 class="wthree"></h2>
            <p class="agileinfo">Qr</p>
            <br>

           <a href="/shengCheng/" class="btn-danger btn-lg" id="age" style="color:white" role="button">
    生成二维码</a>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
      <a href="/jieXi/" class="btn-danger btn-lg"  style="color:white;width:100%;" role="button">
    解析二维码</a>

<div style="width:100px;height:150px"></div>
			<!--<p class="agileinfo">Qr</p>-->
		</div>
	</div>
	<div class="content2-agile" id="images_div">

	<img id="images" src="/static/images/Qr.jpg" style="width:100%;height:100%; color:white" alt=".">

	</div>
	<div class="clear"></div>
</div>
<p class="copyright-agileits">
			<span>张天赠</span>
    <br>
			<span>&copy;皖ICP备16017243号-1</span></p>


</body>
</html>