
<!doctype html>
<html>
<head>
<title>Ravishing Contact Form Flat Responsive widget Template :: w3layouts</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Ravishing Contact Form Responsive, Login form web template,Flat Pricing tables,Flat Drop downs  Sign up Web Templates, Flat Web Templates, Login signup Responsive web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- fonts -->
<link href="//fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900" rel="stylesheet">
<link href="//fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700" rel="stylesheet">
<!-- /fonts -->
<!-- css -->
<link href="/static/css/font-awesome.min.css" rel="stylesheet" type="text/css" media="all" />
<link href="/static/css/style.css" rel="stylesheet" type='text/css' media="all" />
<!-- /css -->

	<script type="text/javascript" src="/static/js/jquery.js"></script>
<script type="text/javascript" src="/static/js/shengcheng.js"></script>

</head>
<body>
<a href="/jieXi/" class="btn  btn-lg" style="color:skyblue" role="button">
      &lt;&nbsp;&lt;&nbsp;去解析二维码</a>
<h1 class="w3layouts">生成二维码</h1>
<div class="content-w3ls">
	<div class="content1-agile">
		<div class="info-w3l">
			<h2 class="wthree"></h2>
			<p class="agileinfo">Qr</p>


				<textarea id="message" name="message" placeholder="请输入信息......." title="Please enter Your Comments"></textarea>
				<input type="button" id="btn" class="sign-in" value="点击生成">
<div id="down">


			<ul class="social-w3-agileits">
				<li><br></li>
				<li><br></li>
				<li><br></li>
<li><a  id="pic1"   style="cursor:hand">下载此二维码</a></li>
			</ul>

	</div>
		</div>	
	</div>

	<div class="content2-agile" id="images_div">

	<img id="images" src="" style="width:100%;height:100%; color:white" alt=".">

	</div>
	<div class="clear"></div>
</div>
<p class="copyright-agileits"></p>


</body>
</html>